.cards-container {
  flex: 1 0 0;
  padding-top: 32px;
  padding-left: 60px;
  padding-right: 60px;
}

/* Адаптивные отступы для разных размеров экранов */
@media (max-width: 575.98px) {
  .cards-container {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 24px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .cards-container {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .cards-container {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .cards-container {
    padding-left: 48px;
    padding-right: 48px;
  }
}
