.search-input-group {
  min-width: 500px;
  padding: 0;
}

.search-input-group,
.search-input-group .form-control {
  height: 44px;
}

.search-input-group .input-group-text {
  height: 44px;
  background-color: var(--color-search-bg);
  border: none;
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.search-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  padding-left: 10px;
  width: 34px;
}

.search-input-group .form-control {
  background-color: var(--color-search-bg);
  border: none;
  color: var(--color-search-text);
  font-family: var(--font-family-alt);
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
}

.search-input-group .form-control:focus {
  background-color: var(--color-search-bg);
  color: var(--color-search-text);
  border-color: transparent;
  box-shadow: none;
}

.search-submit-button {
  white-space: nowrap;
  height: 44px;
}
